* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: monospace;
    font-size: 1rem;
}


body {
    background-image: url('../img/background.png');
    background-attachment: fixed;
}


header {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}


.menu a {
    padding: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-flex;
    transition: background .2s;
}

.menu a:hover{
    text-decoration: wavy;
    border-radius: 5px;
    background-image: linear-gradient(rgb(255, 0, 50), rgb(0, 0, 255));
}

.bg-black button{
    border: 2px;
    border-style: solid;
    transition: background .2s;
}


.bg-black button:hover{
    background-color: black;
}

#icon-nav {
    width: 50px;
}

section {
    min-height: 100vh;
}

main {
    display: block;
}

#inicio h2::after{
    content: '|';
    opacity: 1;
    animation: cursor .7s infinite ;
   
}

@keyframes cursor {
 0%, 100%{
     opacity: 1;
 }   

 50% {
     opacity: 0;
 }
}

#inicio img{
    animation: cursor 9.1s backwards 10  ;
}

#imgPerfil img{
    border-radius: 100px;
}

#contatos{
    min-height: 30VH;
}

.bg-black{
    background-color:  rgba(0, 0, 0, 0.5);
    border-radius: 70px 0;
}
